<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Project Name</h3>
    <strong>AIT</strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="/project/index.php">
        <i class="fas fa-home"></i>
        Home
      </a>
    </li>

    <li>
      <a href="/project/index.php?page=dimension_one">
        <div class="abs">D1</div>
        <span>Dimenstion 1</span>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="abs">D2</div>
        <span>Dimenstion 2</span>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="abs">D3</div>
        <span>Dimenstion 3</span>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="abs">D4</div>
        <span>Dimenstion 4</span>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="abs">D5</div>
        <span>Dimenstion 5</span>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="abs">Result</div>
        <span>Result</span>
      </a>
    </li>
    
  </ul>
</nav>